@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <br>
    <h2>Sua Função é, @Model.Funcao</h2>
    <span>Quer saber mais sobre mim ?</span>
</div>
